
<div ng-app="todo"   class="container-fluid">

    <div class="row">
        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">

        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            {{\$rootScope.username}}
        </div>
        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
            <div class="btn-group btn-group-xs">
                <label class="btn btn-default"  ng-click="$rootScope.isCollapsed = !$rootScope.isCollapsed; console.log($rootScope.isCollapsed)">CAT</label>
            </div>
            <div class="btn-group btn-group-xs">
                <label class="btn btn-primary"  ng-click="setLang('EN')">EN</label>
                <label class="btn btn-primary"  ng-click="setLang('RU')">RU</label>
            </div>
        </div>
    </div>

    <div class="row" ng-controller="IoCtrl">
        <div class="col-sm-6 pull-right">
            <div class="list-group"  collapse="$rootScope.isCollapsed">
                <a href="#" ng-repeat="todos in model" class="list-group-item" ng-class="{'active' : currentShow === $index}" ng-click="changeTodo($index)" >
                    <span class="badge">{{todos.list.length}}</span>
                    {{todos.name}}
                </a>
            </div>
        </div>
    </div>

    <div ng-controller="TodoCtrl" ng-init="init()">

        <div id="playground">


            <div class="row">
                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xs-offset-1 col-sm-offset-1  col-md-offset-1 col-lg-offset-1 ">
                    <div class="input-group">
							<span class="input-group-btn">
								<button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
							</span>
                        <input type="search" class="form-control" placeholder="Search" ng-model="todoSearch">
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xs-offset-1 col-sm-offset-1  col-md-offset-1 col-lg-offset-1 ">
                    <div class="row">
                        <ul class="nav nav-pills todo-filter">
                            <li ng-class="{'active' : show == 'Incomplete' }" ng-click="show='Incomplete'"><a href="#">СДЕЛАТЬ</a></li>
                            <li ng-class="{'active' : show == 'Complete' }" ng-click="show='Complete'"><a href="#">ГОТОВЫЕ</a></li>
                            <li ng-class="{'active' : show == 'All' }" ng-click="show='All'"><a href="#">ВСЕ</a></li>
                        </ul>
                    </div>
                </div>

            </div>

            <div class="row">
                <div id="todoAdd" class="ccol-xs-10 col-sm-10 col-md-10 col-lg-10 col-xs-offset-1 col-sm-offset-1  col-md-offset-1 col-lg-offset-1 ">
                    <div class="input-group  input-group-lg">
                        <input type="text" class="form-control" ng-model="newTodo"  placeholder="Добавить новое задание" aria-describedby="basic-addon2" ng-enter>
                        <span class="input-group-addon" id="basic-addon2" ng-click="addTodo()">{{tr('ADD')}}</span>
                    </div>
                </div>
            </div>


            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="row">
                    <ul class="list-unstyled" ng-repeat="todos in model track by $index" ui-sortable="todoSortable" ng-model="todos.list" ng-show="$index === currentShow">
                        <li class="todoTask" ng-repeat="todo in todos.list | filter:showFn | filter :todoSearch ">
                            <input class="todoCheckbox" ng-model="todo.isDone" type="checkbox">
                            <label class="todoCheckboxlabel" ></label>
                            <edit-in-place value="todo.header"></edit-in-place>
                            <button type="button" class="close pull-right" aria-hidden="true" ng-click="deleteTodo($index)">&times;</button>
                        </li>
                    </ul>
                </div>
            </div>



            <div class="row">
                <div class="debug">
                    <p class="text-info">{{ model | json}}</p>
                </div>
            </div>
        </div>
    </div>
</div>